{% extends "website/base.html" %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="todo-header">
      <h2>ToDo List</h2>
      <img src="{% static "img/to-do-list.png" %}" height="50px" />
      </div>
      <form id="todo-form" method="post" action="{% url 'website:index' %}">
        {% csrf_token %}
        <div class="todo-body">
            <input type="text" id="todoText" name="description" class="todo-input" placeholder="Add your items" />
            <button type="submit" id="add-item" style="background: none; border: none;">
                <img src="{% static 'img/plus.png' %}" alt="+" />
            </button>
        </div>
      </form>


      <h5 id="Alert"></h5>
      <ul id="list-items" class="list-items"></ul>
      {% for item in items %}
      
        <li style="display: flex; justify-content: space-between; align-items: center;">
          <div style="word-wrap: break-word; width: 80%; padding-left: 10px; {% if item.status %}text-decoration: line-through;{% endif %}">
            {{ item.description }}
          </div>
          <div style="display: flex; gap: 10px;">

            {% comment %} <a href="{% url "website:update" item.id %}"><img src="{% static "img/pen.png" %}" style="width: 25px; height: auto; margin-top: 5px;"/></a> {% endcomment %}
            <form id="todo-form" method="post" action="{% url 'website:update' item.id %}">
              {% csrf_token %}
              <button type="submit" style="background: none; border: none">
                <img src="{% static 'img/pen.png' %}" style="width: 27px; height: auto; margin-right: 5px; margin-top: 5px;"/>
              </button>
            </form>


            <form id="todo-form" method="post" action="{% url 'website:delete' item.id %}">
              {% csrf_token %}
              <button type="submit" style="background: none; border: none;" onclick="confirmDelete(event)">
                <img src="{% static 'img/garbage.png' %}" style="width: 27px; height: auto; margin-right: 5px; margin-top: 5px;"/>
              </button>
            </form>

            <a href="#"><img src="{% static "img/confirm.png" %}" style="width: 25px; height: auto; margin-top: 5px;"/></a>

          </div>
        </li>
      {% endfor %}

        
  </div>
  <script>
    function confirmDelete(event) {
        // Show confirmation prompt
      if (!confirm("Are you sure you want to delete this item?")) {
        // If the user cancels, prevent the form from submitting
        event.preventDefault();
      }
    }
  </script>
  <script type="text/javascript" src="{% static "js/script.js" %}"></script>
{% endblock content %}